.comment
	.comment-content
		%h1= link_to comment.user.username, user_path(comment.user)
		%p= comment.body
		-# %h1= link_to p.name, store_product_path(p.store, p)
		-# %p.price= number_to_currency(p.price, unit: 'GHC')
		%p.comment-detail= time_ago_in_words(comment.created_at) + " ago"

