.page
	%article.white
		.section
			.wrapper
				.title About Claeus
				.excerpt
					Claeus surfaces emerging brands and products, every day. It's a place for for people to discover new products and awesome brands emerging from Africa.
			
				%br/
				.title Our Mission
				.excerpt
					To give emerging brands the tools to grow their brand while attracting customers globally through our secure and social global marketplace.
				%br/
				%br/
				