.page
	%article.white
		.wrapper
			.title
				Discover amazing emerging brands.
			.excerpt
				All on a marketplace where people shop socially.

	%article
		.section-header Browse by Category

		.grid-container
			.grid
				- @categories.each do |cat|
					.quarter
						= link_to cat do
							.grid-tile
								.tile-img{ style: "background-image:  url('#{cat.avatar.url}')"  }
								.tile-name= cat.name
			-# = link_to "View all categories", categories_path