.dialog-box
	background-color: tint($light-gray, 50%)
	border: $base-border
	border-radius: $base-border-radius
	margin: ($base-spacing * 2) auto $base-spacing
	max-width: 25rem
	padding: $base-spacing